*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    /* position: absolute; */
    position: sticky;
    border: 1px solid black;
    background-color: red;
    width: 100px;
    top: 20px;
}
.content{
    position: relative;
    height: 2000px;
    border: 1px solid #AAA;
    
}
.absolute{
    position: absolute;
    top: 10px;
    background-color: blue;
}