*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: green;
    
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.title a{
    color:#FFF;
    text-decoration: none;
    font-size: 20px;
}

.title a:hover {
    color: yellow;
    transition: all 0.5s;
}
.photo img{
    width: 300px;
    height: 300px;
}
.tank .carousel {
    display: flex;
    justify-content: space-between;
}
.tank  .carousel img{
    width: 100px;
    height: 120px;
    object-fit: cover;
}
footer {
    background-color: #c6ffc6;
}
.underbox .secondtext .gmail{
    color:blueviolet;
}

.aboutme .thongbao{
    display: none;
    color: red;
}